@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  /* Color Scheme */
  --color-blueDK-: #05386b;
  --color-greenDK-: #379683;
  --color-green-: #5cdb95;
  --color-greenPale-: #8ee4af;
  --color-tan-: #edf5e1;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gemunu Libre", Arial, Helvetica, sans-serif;
  background-color: black;
  letter-spacing: 0.5;
}

h1 {
  font-size: 6rem;
  color: white;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  padding-top: 10px;
  font-size: 1rem;
  color: white;
  letter-spacing: 0.09em;
}

p {
  font-size: 1.2rem;
  color: #d3d3d3;
}

.main {
  display: flex;
  text-align: center;
  flex-direction: column;
}

/* --------------- navbar --------------- */
.navbar-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2vh;
  background-color: black;
  width: 100%;
}
.navbar-container ul {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  padding: 0 30px;
}

.navbar-container ul li {
  padding: 0 25px;
}

.navbar-container ul li a {
  font-size: 1.2rem;
  text-decoration: none;
  color: whitesmoke;
  text-transform: uppercase;
}

.navbar-container:hover {
  box-shadow: 0 0.75em 1em -0.4em aqua;
}
.navbar-container ul li a:hover {
  color: aqua;
}

/* Button */
.btn-container {
  padding-top: 5vh;
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.btn {
  border: 3px solid white;
  padding: 10px 0;
  width: 120px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
  text-align: center;
  margin: 0 20px;
}

.btn-lightUp:hover {
  transition: 0.3 solid ease-out;
  border-color: aqua;
  color: aqua;
}

.btn-lightUp:hover,
.btn-lightUp:focus {
  box-shadow: 0 0.75em 1em -0.4em aqua;
  transform: translateY(-0.25em);
}
/* --------------- Hero Section --------------- */
.heroSection-wrap {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("./pictures/coding.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: -999;
}

.heroSection-image {
  opacity: 0.2;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: auto;
}

.heroSection-content {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heroSection h1,
h3,
p {
  padding: 5px 35px;
}

.heroSection-intent {
  display: flex;
  color: whitesmoke;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */

  /* The typwriter cursor */
  /* border-right: 0.15em solid aqua;  */

  /* Keeps the content on a single line */
  white-space: nowrap;

  /* Gives that scrolling effect as the typing happens */
  margin: 0 100%;

  letter-spacing: 0.15em; /* Adjust as needed */

  /* Animation */
  /* animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite; */

  padding: 5px;
}

/* The typing effect */
/* @keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 200px;
  }
} */

/* The typewriter cursor effect */
/* @keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: aqua;
  }
} */

/* --------------- Projects --------------- */
.projects-container {
  color: #323330;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#projects {
  width: auto;
  height: 100vh;
  background-color: whitesmoke;
}

.project-techIcons {
  width: 100%;
  height: 30vh;
}

.project-techIcons ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
}

.project-techIcons ul li {
  text-decoration: none;
  font-size: 5rem;
  padding-right: 30px;
}

.fa-js {
  color: #f0db4f;
  background-color: #323330;
}

.fa-css3 {
  color: #264de4;
}

.fa-html5 {
  color: #e34f26;
}

/* --------------- Footer --------------- */
.footer {
  background-color: black;
  width: 100%;
  height: 15vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.info-container {
  width: 100vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageLinks {
  width: 100px;
  text-decoration: none;
  color: white;
  padding-left: 15px;
  border-left: 3px solid gray;
}

.pageLinks ul li a {
  text-decoration: none;
  color: white;
}

.pageLinks ul li a:hover {
  color: aqua;
}

.info {
  width: 180px;
}

.social-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-icons {
  padding-top: 40px;
}

.footer-icons ul li {
  display: inline-block;
  width: 100px;
  padding: 0 10px;
  font-size: 2.5rem;
  transition: transform 0.2s;
}

.footer-icons ul li:hover {
  transform: scale(1.1);
}

.footer-icons ul li a:hover {
  color: aqua;
}

.footer-icons ul li a {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
}

.resume-btn--container {
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  width: 100%;
  height: 80px;
}

.resume-btn:hover {
  color: aqua;
  border-color: aqua;
  transform: scale(1.05);
}

.copywrite-text {
  font-size: 0.75rem;
}

/* --------------- Responsive --------------- */
@media only screen and (min-width: 800px) {
  .heroSection-bio {
    width: 600px;
  }

  .project-techIcons ul li i {
    padding: 0px 80px;
  }

  .info-container {
    width: 800px;
  }

  .info {
    padding: 0 100px;
  }

  .pageLinks {
    padding: 0 100px;
  }
}
